.header {
  width: 100%;
  height: 60px;
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: var(--cor-fundo);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.nav-link {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10%;
}

.link a {
  align-items: end;
  position: relative;
  font-size: clamp(1rem, 2vw, 1.7rem);
  font-weight: 600;
  padding-bottom: clamp(1rem, 2vw, 1rem);
  color: var(--cor-primariaClara);
  cursor: pointer;
  transition: all 0.3s ease;
}

.link a:hover {
  color: var(--cor-primaria);
}

.link a::after {
  content: "";
  position: absolute;
  height: clamp(0.7rem, 0.7vh, 0.5rem);
  width: 0;
  bottom: 0;
  left: 0;
  background-color: var(--cor-destaque);
  transition: all 0.3s ease;
}

.link a:hover::after,
.link a.ativo::after {
  width: 100%;
}

.link a.ativo {
  color: var(--cor-primaria);
}

.desktop-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn {
  display: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.menu-btn:hover {
  background: none !important;
  border: none !important;
  color: var(--cor-primaria);
}

.menu-btn .icone {
  padding-top: 10px;
  font-size: 40px;
  color: var(--cor-primariaClara);
}

.sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  width: 200px;
  height: 100vh;
  background: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.btn {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  background: #005fa8;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.2),
    inset 0 4px 4px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.05);
}

.btn .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #ccc, #fff);
  border-radius: 50%;
  transform: scale(0.8);
  transition: 0.5s;
  box-shadow: 0 8px 8px rgba(18, 52, 88, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.2),
    inset 0 -2px 4px rgba(255, 255, 255, 0.2);
}

.btn.lightMode {
  background: var(--cor-primariaClara);
  box-shadow: inset 0 6px 4px rgba(0, 0, 0, 0.05),
    inset 0 2px 4px rgba(0, 0, 0, 0.05), inset 0 -2px 4px rgba(0, 0, 0, 0.05);
}

.btn.lightMode .indicator {
  left: 40px;
  background: linear-gradient(to bottom, #ccc, #fff);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 2px 2px rgba(255, 255, 255, 1),
    inset 0 -2px 2px rgba(255, 255, 255, 1);
}

@media (max-width: 600px) {
  .desktop-actions {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav-link {
    gap: 5%;
  }

  .btn.lightMode .indicator {
    left: 40px;
  }
}

@media (max-width: 345px) {
  .header {
    justify-content: space-between;
    padding: 5px;
  }

  .nav-link {
    gap: 5%;
    padding: 0;
    margin: 0;
  }

  .nav-link img {
    margin: 0;
  }

  .btn.lightMode .indicator {
    left: 40px;
  }
}
