@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --cor-fundo: #f1efec;
  --cor-destaque: #d4c9be;
  --cor-primaria: #123458;
  --cor-primariaClara: #123458;
  --cor-texto: #030303;
  --cor-tercearia: rgba(235, 90, 60, 0.5);
  --cor-terceariaCLara: #d8e1ea;
}

.tema-daltonico {
  --cor-fundo: #f5f5f5;
  --cor-destaque: #c2c2c2;
  --cor-primaria: #005fa8;
  --cor-texto: #000000;
}
